.table-container {
  padding: 20px;
  max-width: 100%;
}

.table-wrapper {
  overflow-x: auto;
  width: 100%;
}

table {
  min-width: 600px;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

th {
  background-color: white;
  cursor: pointer;
  user-select: none;
}

.pagination {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.pagination button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.search-bar input {
  padding: 5px;
  min-width: 400px;
  font-size: 14px;
}

.table-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.download-btn {
  padding: 6px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

/*  responsive style */
@media screen and (max-width: 600px) {
  .table-controls {
    flex-direction: column;
    align-items: flex-start;
  }

  .pagination {
    flex-direction: column;
    align-items: flex-start;
  }

  .search-bar input {
    width: 100%;
  }

  .download-btn {
    width: 50%;
  }
}
